
<section class="introduction">
    <div class="v-layout">
        <img class="logo" src="{{ site.github.url }}/assets/img/mg-ico.svg" alt="logo"/>
        <div class="name">Marc Gardent</div>
        <div class="position">Full-Stack Builder</div>
        <div>
            <b>IT</b> from <b>customers</b> to <b>exploitation</b>
        </div>
        <div class="h-layout">
            <div class="skill v-layout">
                <img style="width:4em" src="{{ site.github.url }}/assets/img/backend-ico.svg" alt="backend"/>
                <div>backend</div>
            </div>
            <div class="skill v-layout">
                <img style="width:4em" src="{{ site.github.url }}/assets/img/devops-ico.svg" alt="devops"/>
                <div>devops</div>
            </div>
            <div class="skill v-layout">
                <img style="width:4em" src="{{ site.github.url }}/assets/img/frontend-ico.svg" alt="frontend"/>
                <div>frontend</div>
            </div>
        </div>
    </div>
</section>