<section class="introduction">
    <div class="v-layout">
        <img class="logo" src="/assets/img/mg-cap-ico.svg" alt="logo"/>
        <div class="name">Marc Gardent</div>
        <div class="position">
            <span class="noun">Freelance IT</span>
            <span>Azure Microsoft .NET</span>
            </div>
        <div class="compress h-layout">
            <div class="column">{% include skill-logo.html name="Backend" %}
                {{site.data.settings.paragraphs.backend| markdownify}}
            </div>
            <div class="gap"></div>
            <div class="column">{% include skill-logo.html name="DevOps" %}
                {{site.data.settings.paragraphs.devops| markdownify}}
            </div>
            <div class="gap"></div>
            <div class="column">{% include skill-logo.html name="Frontend" %}
                {{site.data.settings.paragraphs.frontend| markdownify}}
            </div>
        </div>
        <div class="box h-layout">
            {% include skill-logo.html name="Team" %}
            <div class="target">
                {{site.data.settings.paragraphs.vision| markdownify}}
            </div>
        </div>
    </div>
</section>