{% assign mission = include.mission %}

<section class="mission">
  <div class="box-layout">
    <div class="annotation-box">
      <div class="v-layout between">
        <div class="xp">
          {{ mission.start_date | duration: mission.end_date }}
          {% for skill in mission.skills %}
            <div>
            {% include skill-logo.html name=skill %}
            </div>
          {%endfor%}
        </div>
        <div class="vh-layout date">
          <div>
            {{mission.start_date |date: "%m/%Y"  }}
        </div>
        </div>
      </div>
      </div>
      <div class="content-box">
        {% include mission-details.html mission=mission %}
      </div>
    </div>
  </section>