---
---

@import '1-tools/-tools-dir'

//------------------------------------------------
// Set some colors as sass variables

$stroke: black
$fill: white
$accent: magenta
$accent-color: $accent
$accent-light: adjust-hue(saturate(lighten($accent, 11%), 12.6%), 14%)
$selectionColor: lighten($accent, 30%)

$textColor: {{ site.data.layout.textColor }}
$headlineColor: {{ site.data.layout.headlineColor }}
$bgcolor: {{ site.data.layout.bgcolor }}
$documentBackgroundColor: {{ site.data.layout.documentBackgroundColor }}

@import '2-base/-base-dir'
@import '3-sections/-sections-dir'

.horizontal-align-container
  width: 100%
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center

.vertical-align-container
  width: 100%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.highlight
  color: $fill
  background-color: $stroke 
  border-radius: 0.15em
  padding-left: 0.25em
  padding-right: 0.25em

a:hover .highlight
  color: $fill
  background-color: $accent

.tag
  height: 1.5em
  vertical-align: text-bottom

.introduction
  font-size: 2em
  font-family: consolas
  font-weight: bold
  .name
    font-size: 1.5em
  .position
    background: $stroke
    color: $fill
    border-radius: 0.25em
    padding-inline: 0.5em
  .logo
    width: 3em
  .skill
    img
      width: 10em
