
body, div, section, p, span, code, h1, h2, h3, h4, h5, b, i, ul, li, img
  box-sizing: border-box
  padding: 0
  margin: 0

ul
  padding-left: 2em
  padding-top: 0.5em
  padding-bottom: 0.5em
p
  padding-top: 0.5em
  padding-bottom: 0.5em

body
  @include text-font 
  background: $fill
  font-size: $normal-font
  text-align: justify
  color: $stroke
  ::selection
    background-color: $accent

.site-container
  width: $width-page
  margin: auto

@media (max-width: $width-fluent)
  .site-container
    width: 95vw

.strip
  width: 100%
  background-color: $accent
  box-shadow: 5px 11px 8px -10px #EEE

code
  @include tech-font

img
  mix-blend-mode: multiply

a
  color: $accent

a:hover
  color: $accent-dark

.highlight
  color: $fill
  background-color: $stroke 
  border-radius: $corner
  padding-inline: $normal-space
  margin-inline: $normal-space

a:hover .highlight
  color: $fill
  background-color: $accent

.tag
  height: 1.5em
  vertical-align: text-bottom

h1, h2, h3, h4, h5
  @include title-font
  text-align: left

h1, h2, h3, h4, h5
  padding: 0
  margin: 0

h1
  padding:
    top: $huge-space
    bottom:  $huge-space
h2
  padding:
    top: $huge-space
    bottom:  $huge-space
h3
  padding:
    top: $normal-space
    bottom:  $normal-space
h4, h5
  padding:
    top: $tiny-space
    bottom:  $tiny-space

.skill
  @include tech-font
  font-weight: bold
  img
    width: 4em

blockquote 
  @include text-font
  font-size: $normal-font
  text-align: center
  ::before
    content: '“'
    font-size: 2em
  ::after
    content: '”'
    font-size: 2em
  p
    display: inline