
.introduction
  font-size: 2em
  font-weight: bold
  .name
    font-size: 1.5em
    font-family: $title-font
  .subtitle:
    font-family: $title-font
  .position
    background: $stroke
    color: $fill
    border-radius: 0.25em
    padding-inline: 0.5em
  .logo
    width: 3em
  .skill
    font-family: $tech-font
    img
      width: 10em
