
    
section.introduction
  .name
    font-weight: bold
    font-size: $huge-font
    @include title-font
    
  .subtitle
    font-size: $huge-font
    display: none
    @include comment-font 
  .position
    font-weight: bold
    @include tech-font
    font-size: $huge-font
    background: $stroke
    color: $fill
    border-radius: $corner
    padding: $tiny-space
  .logo
    width: $huge-space*4
  .skill
    font-size: $huge-font

  @media screen and (max-width: $width-column)
    .skills
      flex-direction: column

  .target
    @include text-font
  .column
    p
      padding: $normal-space