
    
.introduction
  .name
    @include title-font
    font-weight: bold
    font-size: $huge-font
    padding: $normal-space
  .position
    @include tech-font
    font-weight: bold
    font-size: $huge-font
    background: $stroke
    color: $fill
    border-radius: $corner
    padding: $tiny-space
    .noun
      @include note-font
      font-weight: normal
      color: $accent
      padding:
        left: $normal-space

  .logo
    width: $huge-space*4
  .skill
    font-size: $huge-font
  .skills
    align-items: flex-start
  @media screen and (max-width: $width-column)
    .skills
      flex-direction: column
    .gap
        flex-basis: 0
        display: none
        
  .target
    @include text-font
  .column
    flex: 1
  .gap
    flex-basis: $huge-space